/**
 * Tricolore theme
 *
 * @author Jean Nicolas
 * @version 1.0
 */

*{padding:0;margin:0;}
pre{margin:0;padding:0;padding:15px;color:#000;overflow-x:scroll;font-size:16px;margin-bottom:20px;line-height:20px;background:#f6f6f6;border:1px solid #eee;border-radius:4px}pre,code{font-family:'Monaco','Consolas',monospace}pre .comment{color:#7e7e7e;font-style:italic}pre .constant,pre .integer{color:#18838a;font-weight:bold}pre .storage{color:#0000a1}pre .string{color:#8e0022}pre .keyword,pre .selector{color:#0000a1;font-weight:bold}pre .parent{font-style:italic}pre .entity,pre .meta{color:#3e853f}pre .support{color:#192140}pre .variable.global,pre .variable.class,pre .variable.instance{color:#3e853f}

html, body {
    font-family: verdana;
    background: #fff;
    font-size: 18px;
    text-align: center;
}
body > * {
    width: 80%;
    margin: auto;
}
p {
    margin: 0 0 15px 0;
    line-height: 28px;
    text-align: left;
}
a {
    color: #004A7F;
}
a:hover {
    color: #c35617;
}

article {
    margin: 80px auto;
}
    article .content,
    article > header {
        display: table-cell;
    }
    article .content {
        width: 80%;
    }
    article > header {
        padding-right: 20px;
        width: 20%;
    }
        article > header > h1 {
            text-align: left;
            margin-bottom: 20px;
        }
        article > header > p {
            color: #aaa;
            font-size: 0.9em;
        }

#user-info p {
    float: right;
    text-align: right;
    font-size: 0.9em;
}
body > header > h1 {
    text-align: left;
}
body > header > h1 a {
    color: #aaa;
    text-decoration: none;
}
body > header > h1 a:hover {
    color: #ccc;
}

.create-billet {
    margin-top: 20px;
    text-align: right;
}
    .create-billet fieldset {
        border: none;
        margin-bottom: 15px;
    }
    .create-billet input,
    .create-billet textarea {
        height: 40px;
        padding: 5px 10px;
        width: 90%;
    }
    .create-billet textarea {
        height: 500px;
    }
    .create-billet button {
        font-size: 1.2em;
        padding: 10px 20px;
        cursor: pointer;
    }

.content {
    text-align: justify;
}

#post-url {
    width: 80%;
}
